@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

*{margin: 0; padding: 0; outline: 0;}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins';
    background-color: #000;
}
form{
    background-color: #15172B;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    color: #fff;
    padding: 1.5rem 3rem;
    max-width: 14rem;
}
.title{
    font-size: 2em;
    font-weight: 700;
}
.subtitle{
    font-weight: 200;
}
.ic1, .ic2, .ic3, .ic4{
    position: relative;
    margin: 0.8rem 0;
    display: flex;
    flex-direction: column;
}
input{
    background-color: #303246;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #d5d5d5;
}
input::placeholder{
    color: #65657B;
    opacity:0.4;
}
label {
    transition: 0.2s ease all;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    padding-left: 0.2rem;
    visibility: hidden;
    color: #f06565;
    opacity: 0.9;
  }
.submit{
    padding:10px 20px;
    background-color: #0088DD;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.signed{
    text-align: center;
    color: #55ad7d;
    font-size: 0.8rem;
    visibility: hidden;
}